{% extends 'header.html.twig' %}

{% block body %}


{% for bien in biens %}
    <div class="text-center">
        <div class="h1">{{ bien.nom}}</div>
        <div><p>{{bien.categorie}}</p></div>
                
        <img class="container" src="{{ asset('assets/img/' ~ bien.image ) }}" alt="">
    </div>

{% endfor %}



{% endblock %}
